<h2> the recipe form </h2>
<%= form_for @recipe do |f| %>
  <%= f.label :recipe %>
  Title: <%= f.text_field :title %>
 <h2> adds ingredients </h2>
  <%= f.fields_for :ingredients do |ingredient_builder| %>
    <%= ingredient_builder.label :attribute_0_name %>
    <%= ingredient_builder.text_field :attribute_0_name %> <br>
    <%= ingredient_builder.label :attribute_1_name %>
    <%= ingredient_builder.text_field :attribute_1_quantity %> <br>
  <% end %>

    <%=f.submit "commit" %>
<% end %>
 
