<h2> the recipe form </h2>
<%= form_for @recipe do |f| %>
  <%= f.label :recipe %>
  Title: <%= f.text_field :title %>
 <h2> adds ingredients </h2>
  <%= f.fields_for :ingredients do |ingredient_builder| %>
    <%= ingredient_builder.label_0 :name %>
    <%= ingredient_builder.text_field_0 :name %> <br>
    <%= ingredient_builder.label_1 :name %>
    <%= ingredient_builder.text_field_1 :quantity %> <br>
  <% end %>

    <%=f.submit "commit" %>
<% end %>
