<h2> the recipe form </h2>
<%= form_for @recipe do |f| %>
  <%= f.label :recipe %>
  Title: <%= f.text_field :title %>
 <h2> adds ingredients </h2>
  <%= f.fields_for :ingredients do |ingredient| %>
    <%= ingredient.label :ingredient.name %>
    <%= ingredient.text_field :ingredient.name %> <br>
    <%= ingredient.label :ingredient.quantity %>
    <%= ingredient.text_field :ingredient.quantity %> <br>
  <% end %>

    <%=f.submit "commit" %>
<% end %>
