<h2> the recipe form </h2>
<%= form_for @recipe do |f| %>
  <%= f.label :recipe %>
  Title: <%= f.text_field :title %>
 <h2> adds ingredients </h2>
  <%= f.fields_for :ingredients do |ingredient| %>
    <%= ingredient.label : %>
    <%= ingredient.text_field :name %> <br>
    <%= ingredient.label :name %>
    <%= ingredient.text_field :quantity %> <br>
  <% end %>

    <%=f.submit "commit" %>
<% end %>
