<h2> the recipe form </h2>
<%= form_for @recipe do |f| %>
  <%= f.label :recipe %>
  Title: <%= f.text_field :title %>

 <h2> adds ingredients </h2>
  <%= f.fields_for :ingredients do |i,ingredient_builder| %>
    <%= ingredient_builder.label :0, :name %>
    <%= ingredient_builder.text_field :0, :quantity %> <br>
    <%= ingredient_builder.label :1, :name %>
    <%= ingredient_builder.text_field :1, :quantity %> <br>
  <% end %>

    <%=f.submit "commit" %>
<% end %>
